<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tracker">
            <h2><span>Tracker</span> {{ tracker.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Consulted At</span></dt>
                <dd>
                    <span>{{ tracker.consultedAt }}</span>
                </dd>
                <dt><span>Consulted By</span></dt>
                <dd>
                    <span>{{ tracker.consultedBy }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>
        </div>
    </div>
</div>
