<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-vaccine-type-heading">Create or edit a Vaccine Type</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.minlength">
                        This field is required to be at least 3 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.maxlength">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_typeImage">Type Image</label>
                    <div>
                        <img [src]="'data:' + editForm.get('typeImageContentType')!.value + ';base64,' + editForm.get('typeImage')!.value" style="max-height: 100px;" *ngIf="editForm.get('typeImage')!.value" alt="vaccineType image"/>
                        <div *ngIf="editForm.get('typeImage')!.value" class="form-text text-danger clearfix">
                            <button type="button" (click)="clearInputImage('typeImage', 'typeImageContentType', 'file_typeImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_typeImage" (change)="setFileData($event, 'typeImage', true)" accept="image/*"/>
                    </div>
                    <input type="hidden" class="form-control" name="typeImage" id="field_typeImage"
                           formControlName="typeImage"/>
                    <input type="hidden" class="form-control" name="typeImageContentType" id="field_typeImageContentType"
                           formControlName="typeImageContentType" />
                    <div *ngIf="editForm.get('typeImage')!.invalid && (editForm.get('typeImage')!.dirty || editForm.get('typeImage')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('typeImage')?.errors?.maxbytes">
                            This field cannot be more than 8000000.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
