<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="vaccineType">
            <h2><span>Vaccine Type</span></h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ vaccineType.name }}</span>
                </dd>
                <dt><span>Type Image</span></dt>
                <dd>
                    <div *ngIf="vaccineType.typeImage">
                        <a (click)="openFile(vaccineType.typeImageContentType, vaccineType.typeImage)">
                            <img [src]="'data:' + vaccineType.typeImageContentType + ';base64,' + vaccineType.typeImage" style="max-width: 100%;" alt="vaccineType image"/>
                        </a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/vaccine-type', vaccineType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
