<div>
    <h2 id="page-heading">
        <span>Vaccine Types</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-vaccine-type" [routerLink]="['/vaccine-type/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Vaccine Type
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="vaccineTypes?.length === 0">
        <span>No vaccineTypes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="vaccineTypes && vaccineTypes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="name"><span>Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="typeImage"><span>Type Image</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let vaccineType of vaccineTypes ;trackBy: trackId">
                    <td>{{ vaccineType.name }}</td>
                    <td>
                        <a *ngIf="vaccineType.typeImage" (click)="openFile(vaccineType.typeImageContentType, vaccineType.typeImage)">
                            <img [src]="'data:' + vaccineType.typeImageContentType + ';base64,' + vaccineType.typeImage" style="max-height: 30px;" alt="vaccineType image"/>
                        </a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/vaccine-type', vaccineType.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/vaccine-type', vaccineType.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(vaccineType)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="vaccineTypes && vaccineTypes.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
