<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="phase">
            <h2><span>Phase</span></h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ phase.name }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ phase.description }}</span>
                </dd>
                <dt><span>Image</span></dt>
                <dd>
                    <div *ngIf="phase.image">
                        <a (click)="openFile(phase.imageContentType, phase.image)">
                            <img [src]="'data:' + phase.imageContentType + ';base64,' + phase.image" style="max-width: 100%;" alt="phase image"/>
                        </a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/phase', phase.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
