<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="country">
            <h2><span>Country</span></h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ country.name }}</span>
                </dd>
                <dt><span>Flag</span></dt>
                <dd>
                    <div *ngIf="country.flag">
                        <a (click)="openFile(country.flagContentType, country.flag)">
                            <img [src]="'data:' + country.flagContentType + ';base64,' + country.flag" style="max-width: 100%;" alt="country image"/>
                        </a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/country', country.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
