<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="trackerState">
            <h2><span>Tracker State</span> {{ trackerState.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Phase</span></dt>
                <dd>
                    <span>{{ trackerState.phase }}</span>
                </dd>
                <dt><span>Total Vaccines</span></dt>
                <dd>
                    <span>{{ trackerState.totalVaccines }}</span>
                </dd>
                <dt><span>Phase Detail</span></dt>
                <dd>
                    <span>{{ trackerState.phaseDetail }}</span>
                </dd>
                <dt><span>Tracker</span></dt>
                <dd>
                    <div *ngIf="trackerState.trackerId">
                        <a [routerLink]="['/tracker', trackerState.trackerId, 'view']">{{ trackerState.trackerId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>
        </div>
    </div>
</div>
