<div>
    <h2 id="page-heading">
        <span>Tracker States</span>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="trackerStates?.length === 0">
        <span>No trackerStates found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="trackerStates && trackerStates.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="phase"><span>Phase</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalVaccines"><span>Total Vaccines</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="phaseDetail"><span>Phase Detail</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="trackerId"><span>Tracker</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let trackerState of trackerStates ;trackBy: trackId">
                    <td><a [routerLink]="['/tracker-state', trackerState.id, 'view']">{{ trackerState.id }}</a></td>
                    <td>{{ trackerState.phase }}</td>
                    <td>{{ trackerState.totalVaccines }}</td>
                    <td>{{ trackerState.phaseDetail }}</td>
                    <td>
                        <div *ngIf="trackerState.trackerId">
                            <a [routerLink]="['/tracker', trackerState.trackerId , 'view']" >{{ trackerState.trackerId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/tracker-state', trackerState.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="trackerStates && trackerStates.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
