<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="vaccine">
            <h2><span>Vaccine</span></h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ vaccine.name }}</span>
                </dd>
                <dt><span>Company</span></dt>
                <dd>
                    <div *ngIf="vaccine.company">
                        <a (click)="openFile(vaccine.companyContentType, vaccine.company)">
                            <img [src]="'data:' + vaccine.companyContentType + ';base64,' + vaccine.company" style="max-width: 20%;" alt="vaccine image"/>
                        </a>
                    </div>
                </dd>
                <dt><span></span></dt>
                <dd>
                    <div *ngIf="vaccine.company2">
                        <a (click)="openFile(vaccine.company2ContentType, vaccine.company2)">
                            <img [src]="'data:' + vaccine.company2ContentType + ';base64,' + vaccine.company2" style="max-width: 20%;" alt="vaccine image"/>
                        </a>
                    </div>
                </dd>
                <dt><span>Efficacy</span></dt>
                <dd>
                    <span>{{ vaccine.efficacy }}%</span>
                </dd>
                <dt><span>Dose</span></dt>
                <dd>
                    <span>{{ vaccine.dose }}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{ vaccine.type }}</span>
                </dd>
                <dt><span>Storage</span></dt>
                <dd>
                    <span>{{ vaccine.storage }}</span>
                </dd>
                <dt><span>Vaccine Type</span></dt>
                <dd>
                    <div *ngIf="vaccine.vaccineTypeId">
                        <a [routerLink]="['/vaccine-type', vaccine.vaccineTypeId, 'view']">{{ vaccine.vaccineTypeName }}</a>
                    </div>
                </dd>
                <dt><span>Countries</span></dt>
                <dd>
                    <span *ngFor="let countries of vaccine.countries; let last = last">
                        <a [routerLink]="['/country', countries?.id, 'view']">{{ countries.name }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ vaccine.description }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/vaccine', vaccine.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
