<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-vaccine-heading">Create or edit a Vaccine</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.minlength">
                        This field is required to be at least 3 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.maxlength">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_company">Company</label>
                    <div>
                        <img [src]="'data:' + editForm.get('companyContentType')!.value + ';base64,' + editForm.get('company')!.value" style="max-height: 100px;" *ngIf="editForm.get('company')!.value" alt="vaccine image"/>
                        <div *ngIf="editForm.get('company')!.value" class="form-text text-danger clearfix">
                            <button type="button" (click)="clearInputImage('company', 'companyContentType', 'file_company')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_company" (change)="setFileData($event, 'company', true)" accept="image/*"/>
                    </div>
                    <input type="hidden" class="form-control" name="company" id="field_company"
                           formControlName="company"/>
                    <input type="hidden" class="form-control" name="companyContentType" id="field_companyContentType"
                           formControlName="companyContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_company2">Company 2</label>
                    <div>
                        <img [src]="'data:' + editForm.get('company2ContentType')!.value + ';base64,' + editForm.get('company2')!.value" style="max-height: 100px;" *ngIf="editForm.get('company2')!.value" alt="vaccine image"/>
                        <div *ngIf="editForm.get('company2')!.value" class="form-text text-danger clearfix">
                            <button type="button" (click)="clearInputImage('company2', 'company2ContentType', 'file_company2')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_company2" (change)="setFileData($event, 'company2', true)" accept="image/*"/>
                    </div>
                    <input type="hidden" class="form-control" name="company2" id="field_company2"
                           formControlName="company2"/>
                    <input type="hidden" class="form-control" name="company2ContentType" id="field_company2ContentType"
                           formControlName="company2ContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_efficacy">Efficacy(%)</label>
                    <input type="number" class="form-control" name="efficacy" id="field_efficacy"
                           formControlName="efficacy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_dose">Dose</label>
                    <input type="text" class="form-control" name="dose" id="field_dose"
                           formControlName="dose"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_type">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type"
                           formControlName="type"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_storage">Storage</label>
                    <input type="text" class="form-control" name="storage" id="field_storage"
                           formControlName="storage"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <textarea class="form-control" name="description" id="field_description"
                              formControlName="description"></textarea>
                    <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('description')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_vaccineType">Vaccine Type</label>
                    <select class="form-control" id="field_vaccineType" name="vaccineType" formControlName="vaccineTypeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="vaccineTypeOption.id" *ngFor="let vaccineTypeOption of vaccinetypes; trackBy: trackById">{{ vaccineTypeOption.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="field_countries">Countries</label>
                    <select class="form-control" id="field_countries" multiple name="countries" formControlName="countries">
                        <option [ngValue]="getSelected(editForm.get('countries')!.value, countryOption)" *ngFor="let countryOption of countries; trackBy: trackById">{{ countryOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
