<div>
    <h2 id="page-heading">
        <span>Vaccines</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-vaccine" [routerLink]="['/vaccine/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Vaccine
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="vaccines?.length === 0">
        <span>No vaccines found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="vaccines && vaccines.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="name"><span>Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="company"><span>Company</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"><span></span></th>
                    <th scope="col"  jhiSortBy="efficacy"><span>Efficacy</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dose"><span>Dose</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="type"><span>Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="storage"><span>Storage</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="vaccineTypeName"><span>Vaccine Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let vaccine of vaccines ;trackBy: trackId">
                    <td>{{ vaccine.name }}</td>
                    <td>
                        <a *ngIf="vaccine.company" (click)="openFile(vaccine.companyContentType, vaccine.company)">
                            <img [src]="'data:' + vaccine.companyContentType + ';base64,' + vaccine.company" style="max-height: 30px;" alt="vaccine image"/>
                        </a>
                    </td>
                    <td>
                        <a *ngIf="vaccine.company2" (click)="openFile(vaccine.company2ContentType, vaccine.company2)">
                            <img [src]="'data:' + vaccine.company2ContentType + ';base64,' + vaccine.company2" style="max-height: 30px;" alt="vaccine image"/>
                        </a>
                    </td>
                    <td>{{ vaccine.efficacy }}%</td>
                    <td>{{ vaccine.dose }}</td>
                    <td>{{ vaccine.type }}</td>
                    <td>{{ vaccine.storage }}</td>
                    <td>
                        <div *ngIf="vaccine.vaccineTypeId">
                            <a [routerLink]="['/vaccine-type', vaccine.vaccineTypeId , 'view']" >{{ vaccine.vaccineTypeName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/vaccine', vaccine.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/vaccine', vaccine.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(vaccine)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="vaccines && vaccines.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
